    <section>
      <div class="row">
        <div class="col-md-8">
          <% @services.each do |service| %>
          <% user = User.find(service.user_id)%>
          <div class="card">
            <div class="card-header">
              <%= service.name_service %>
            </div>
            <div class="card-body">
              <%= cl_image_tag service.photo.key, height: 300, width: 400, crop: :fill %>
                           <p><%= service.description_service %></p>
              <p><%= service.category %></p>
              <p><%= service.price %></p>
              <p><%= service.address %></p>
              <h1><%=user.email%></h1>

              <a href="#" class="btn btn-primary" style="border-radius: 5px; width: 100px">Contract</a>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </section>

    <%= link_to "New Service", new_service_path, class: "btn btn-primary" %>


    <style>
      .card {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
      }

      .card-header {
        background-color: #f5f5f5;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      .card-body {
        padding: 10px;
      }

      .btn {
        margin-top: 10px;
      }
    </style>
