<section class="container">
  <div class="row">
    <div class="col-md-8 w-100 px-0">
      <% @services.each do |service| %>
        <div class="card-my-services my-4">
          <% user = User.find(service.user_id)%>
            <div class="service-body d-flex">

              <div class="service-ph my-auto">
                <% if service.photo.attached? %>
                  <%= cl_image_tag service.photo.key, height: 200, width: 200, crop: :fill %>
                <% else %>
                  <%= image_tag "yellow_pages_bw_logo", class: "img-bw" %>
                <% end %>
              </div>

              <div class="service-info ms-4">
                <p class="tag-yellow mb-1"><%= service.category %></p>
                <div class="title-service">
                  <%= service.name_service %>
                </div>

                <p><%= service.address %></p>
                <p class="pt-1 mt-2 mb-3"><%= service.description_service %></p>
                <h4 class="mt-4 mb-3"><b>$ <%= service.price %></b></h4>

                <div class="service-btn d-flex">
                <%= link_to "Edit Service", edit_service_path(service.id), class: "btn-yellow" %>
                <%= button_to "Delete", service_path(service.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn-red-outline ms-2" %>

                </div>
              </div>

            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
