<section class="container">
  <div class="row">
    <div class="col-md-8 w-100 px-0">
      <% @services.each do |service| %>
        <div class="card-my-services my-4">
          <% user = User.find(service.user_id)%>
            <div class="service-body d-flex">

              <div class="service-ph">
                <% if service.photo.attached? %>
                 <%= cl_image_tag service.photo.key, height: 200, width: 200, crop: :fill %>
                <% end %>
              </div>

              <div class="service-info ms-4">
                <p class="tag-yellow mb-1"><%= service.category %></p>
                <div class="title-service">
                  <%= service.name_service %>
                </div>

                <p class="pt-2"><%= service.description_service %></p>
                <p>$ <%= service.price %></p>
                <p><%= service.address %></p>

                <div class="service-btn d-flex">

                <%= link_to "Hire",  new_user_service_contract_path(user_id: current_user.id, service_id: service.id), class: "btn-yellow" %> <%# redireciona o usuário para a new de contrato %>
                <%# <%= link_to "Hire", edit_service_path(current_user), class: "btn-yellow" %>
                <%= button_to "Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), data: { "turbo-method": :post }, class:"btn-yellow-outline ms-2" %>

                </div>
              </div>
              <div class ="geo" style="width: 100%; height: 600px;"
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
