 <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 offset-lg-3 mb-5">
          <% @services.each do |service| %>
          <% user = User.find(service.user_id)%>
          <div class="card">
            <div class="card-header">
              <%= service.name_service %>
            </div>
            <div class="card-body">
           <% if service.photo.attached? %>
              <%= cl_image_tag service.photo.key, height: 300, width: 400, crop: :fill %>
                           <p><%= service.description_service %></p>
              <% end %>
              <p><%= service.category %></p>
              <p><%= service.price %></p>
              <p><%= service.address %></p>
              <p><%=user.email%></p>
              <p><%=user.phone%></p>

              <a href="#" class="btn btn-primary" style="border-radius: 5px; width: 100px">Contract</a>
              <%= button_to "Chat", conversations_path(sender_id: current_user.id, recipient_id: user.id), data: { "turbo-method": :post } %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>





    <style>
      .card {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
      }

      .card-header {
        background-color: #f5f5f5;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      .card-body {
        padding: 10px;
      }

      .btn {
        margin-top: 10px;
      }
    </style>
