<section class="container">
  <div class="row">

    <div class="title mt-4">
      <% if params[:search].blank? && params[:city].blank? %>
        <h2>All services (<%= @services.count %> results)</h2>
      <% elsif params[:search].present? && params[:city].blank? %>
        <h2><%= params[:search].capitalize %> (<%= @services.count %> results)</h2>
      <% elsif params[:city].present? && params[:search].blank? %>
        <h2>Services in <%= params[:city].capitalize %> (<%= @services.count %> results)</h2>
      <% else %>
        <h2><%= params[:search].capitalize %> in <%= params[:city].capitalize %> (<%= @services.count %> results)</h2>
      <% end %>
    </div>

    <div class="content mx-0 d-flex justify-content-between">

      <div class="col-md-8 px-0">
        <% @services.each do |service| %>
          <div class="card-services my-4">
            <% user = User.find(service.user_id)%>

            <div class="service-body d-flex">

              <div class="service-ph my-auto">
                <% if service.photo.attached? %>
                  <%= cl_image_tag service.photo.key, height: 200, width: 200, crop: :fill %>
                <% else %>
                  <%= image_tag "yellow_pages_bw_logo", class: "img-bw" %>
                <% end %>
              </div>

              <div class="service-info ms-4">
                <p class="tag-yellow mb-1"><%= service.category %></p>
                <div class="title-service">
                  <%= service.name_service %>
                </div>

                <p><%= service.address %></p>
                <p class="pt-2"><%= service.description_service %></p>
                <h4 class="mt-4 mb-3"><b>$ <%= service.price %></b></h4>

                <div class="service-btn">
                  <% if user_signed_in? %>
                    <%= link_to "Hire",  new_user_service_contract_path(user_id: current_user, service_id: service), class: "btn-yellow" %> <%# redireciona o usuário para a new de contrato %>
                    <%= link_to "Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), data: { "turbo-method": :get }, class:"btn-yellow-outline ms-1" %>
                    <%= link_to "More Info", service_path(service.id), class:"btn-yellow-outline ms-1" %>
                  <% else %>
                    <%= link_to "Hire", new_user_session_path, class: "btn-yellow" %>
                    <%= link_to "Message", new_user_session_path, class: "btn-yellow-outline ms-1" %>
                    <%= link_to "More Info", service_path(service.id), class:"btn-yellow-outline ms-1" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>


      <div class="search my-4">

          <div class ="geo" style="width: 100%; height: 350px;"
                        data-controller="map"
                        data-map-markers-value="<%= @markers.to_json %>"
                        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>

          <div class="filter mt-3">
            <h6><i class="fa-solid fa-filter"></i> Filter by:</h6>
            <%= form_tag services_path, method: :get do %>

              <div class="form-group">
                <% Service.pluck(:category).uniq.each do |category| %>
                  <div class="form-check">
                    <%= radio_button_tag "search", category, params[:search] == category, id: "category_#{category.parameterize}" %>
                    <%= label_tag "category_#{category.parameterize}", category %>
                  </div>

                <% end %>
              </div>

              <div class="form-group">
                <%= submit_tag "Search", class: "btn-yellow-outline mt-3 w-100" %>
              </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</section>
