<div class="card">

  <div class="card-body">
    <% @contracts = Contract.where('user_id = ? OR service_id IN (?)', current_user.id, current_user.services.pluck(:id)) %>

    <% if @contracts.present? && @contracts.any? %>
      <% customer_contracts = @contracts.select { |contract| current_user.id == contract.user.id } %>

      <% if customer_contracts.present? %>
        <% customer_contracts.each do |contract| %>

        <div class="service-info ms-4 border border-2 px-5 py-2">
          <div class="title-service">
            <%= "Contracts as a customer" %>
          </div>

          <p class="pt-2"><strong><%= "Service: "%></strong> <%= "#{contract.service.name_service}" %></p>
          <p><strong><%= "Description: " %></strong> <%= "#{contract.service.description_service}" %></p>
          <p><strong><%= "Service provider: " %></strong> <%= "#{contract.service.user.first_name} #{contract.service.user.last_name}" %></p>

          <% if contract.status == 'Pending' %>
            <p class="d-inline-flex"><strong><%= "Status: "%></strong><p class="d-inline-flex p-2 ms-2 border border-warning text-warning"><%= "#{contract.status}" %></p></p>
          <% elsif contract.status == 'Accepted' %>
            <p class="d-inline-flex"><strong><%= "Status: "%></strong><p class="d-inline-flex p-2 ms-2 border border-success text-success"><%= "#{contract.status}" %></p></p>
          <% else %>
            <p class="d-inline-flex"><strong><%= "Status: "%></strong><p class="d-inline-flex p-2 ms-2 border border-danger text-danger"><%= "#{contract.status}" %></p></p>
          <% end %>

          <p><strong><%= "Date: " %></strong> <%= "#{contract.date}" %></p>

          <%= link_to "See more details", user_service_contract_path(user_id: contract.user.id, service_id: contract.service.id, id: contract.id), class:'btn btn-outline-secondary' %>

        </div>

        <% end %>

      <% else %>

        <div class="service-info ms-4 border border-2 px-5 py-2">
          <div class="title-service">
            <%= "Contracts as a customer" %>
          </div>
          <p>You have no contracts as a customer</p>
        </div>

      <% end %>
    <% else %>
      <h3>Contracts as a customer</h3>
      <p>No contracts available</p>
    <% end %>
  </div>

  <% if @contracts.present? && @contracts.any? %>
    <% provider_contracts = @contracts.select { |contract| current_user.id == contract.service.user.id } %>

    <% if provider_contracts.present? %>
      <% provider_contracts.each do |contract| %>

        <div class="service-info ms-4 border border-2 px-5 py-2">
          <div class="title-service">
            <%= "Contracts as a service provider" %>
          </div>

          <p><strong><%= "Service: " %></strong> <%= "#{contract.service.name_service}" %></p>
          <p><strong><%= "Description: " %></strong> <%= "#{contract.service.description_service}" %></p>
          <p><strong><%= "Client: " %></strong> <%= " #{contract.user.first_name} #{contract.user.last_name}" %></p>

          <% if contract.status == 'Pending' %>
            <p class="d-inline-flex"><strong><%= "Status: " %></strong> <p class="d-inline-flex p-2 ms-2 border border-warning text-warning"><%= "#{contract.status}" %></p></p>
          <% elsif contract.status == 'Accepted' %>
            <p class="d-inline-flex"><strong><%= "Status: " %></strong> <p class="d-inline-flex p-2 ms-2 border border-success text-success"><%= "#{contract.status}" %></p></p>
          <% else %>
            <p class="d-inline-flex"><strong><%= "Status: " %></strong> <p class="d-inline-flex p-2 ms-2 border border-danger text-danger"><%= "#{contract.status}" %></p></p>
          <% end %>

          <p><strong><%= "Date: "%></strong> <%= "#{contract.date}" %></p>
          <%= link_to "See more details", user_service_contract_path(user_id: contract.user.id, service_id: contract.service.id, id: contract.id), class:'btn btn-outline-secondary' %>
        </div>
      <% end %>
    <% else %>

      <div class="service-info ms-4 border border-2 px-5 py-2">
        <div class="title-service">
          <%= "Contracts as a service provider" %>
        </div>

        <p>You have no contracts as a service provider</p>
      </div>
    <% end %>
  <% else %>
    <h3>Contracts as a service provider</h3>
    <p>No contracts available</p>
  <% end %>
</div>
