<div class="page-header">

  <%# <h1>Parabéns! Seu contrato foi criado com sucesso! Caso queira rever as informações do seu contrato visite o seu dashboard.</h1> %>

  <h1>Detalhes do Contrato</h1>

  <p><strong>Usuário Contratante:</strong> <%= @contract.user.first_name %> <%= @contract.user.last_name %></p>
  <p><strong>Serviço Contratado:</strong> <%= @contract.service.name_service %></p>
  <p><strong>Usuário Prestador do Serviço:</strong> <%= @contract.service.user_id.first_name %> <%= @contract.service.user_id.last_name %></p>
  <p><strong>Data do Contrato:</strong> <%= @contract.date %></p>

  <% if current_user == contract.user_id %>

    <p><strong>Status:</strong> <%= @contract.status %></p>

    <p><strong>Concluído:</strong> <%= @contract.done ? 'Sim' : 'Não' %></p>

  <% elsif current_user == contract.service_id.user_id %>

    <% if @contract.status == "Pending" %>

      <p><strong>Status:</strong><%= button_to 'Accept', update_status_path(id: @contract.id, status: 'accept'), method: :patch, data: { "turbo-method": :patch } %> <%= link_to 'Reject', update_status_path(id: @contract.id, status: 'reject'), method: :patch, data: { "turbo-method": :patch } %></p>

      <p><strong>Concluído:</strong> <%= @contract.done ? 'Sim' : 'Não' %></p>

  <% end %>
  <%= link_to 'Voltar para Contratos', contracts_path %>
</div>
