<div class="container">

  <h1>Meus Contratos</h1>

    <% @contracts.each do |contract| %>
      <div class="card">
        <h3>Contratos como cliente</h3>

        <% if current_user.id == contract.user.id %>
          <p><%= contract.service.name_service %></p>
          <p><%= contract.service.description_service %></p>
          <p><%= contract.service.user.first_name %> <%= contract.service.user.last_name %></p>
          <p><%= contract.status %></p>
          <p><%= contract.date %></p>
          <%= link_to "See more details", service_contract_path(service_id: contract.service.id, id: contract.id) %>
        <% else %>
          <p>You have no contracts</p>
        <% end %>

      <h3>Contratos como prestador de serviços</h3>

      <% if current_user.id == contract.service.user.id %>
        <p><%= contract.service.name_service %></p>
        <p><%= contract.service.description_service %></p>
        <p><%= contract.user.first_name %></p>
        <p><%= contract.status %></p>

        <%= link_to "See more details", service_contract_path(contract.service.id) %>
      <% else %>
        <p>You have no contracts</p>
      <% end %>
  <% end %>
</div>
