<div class="container mt-4">

  <h1>Parabéns! Seu contrato foi criado com sucesso! Caso queira rever as informações do seu contrato visite o seu dashboard.</h1>

  <% if @contract %>
    <h2>Detalhes do Contrato</h2>

    <p><strong>Cliente:</strong> <%= @contract.user.first_name %> <%= @contract.user.last_name %></p>
    <p><strong>Serviço Contratado:</strong> <%= @contract.service.name_service %></p>
    <p><strong>Prestador do Serviço:</strong> <%= @contract.service.user.first_name %> <%= @contract.service.user.last_name %></p>
    <p><strong>Data do Serviço:</strong> <%= @contract.date %></p>
    <p><strong>Preço do Serviço:</strong> <%= @contract.service.price %></p>
    <p><strong>Status do Serviço:</strong> <%= @contract.status %></p>
    <%# <p><strong>Concluído:</strong> <%= @contract.done ? 'Sim' : 'Não' %></p>

    <p><strong>Has the contract been completed?</strong><%= button_to 'Yes', done_path(id: @contract.id, done: true), method: :patch, data: { "turbo-method": :patch }, class: "btn-yellow" %>

    <%#<%= link_to 'Reject', update_status_path(id: @contract.id, status: 'reject'), method: :patch, data: { "turbo-method": :patch } %><%#</p>


    <%#<%= simple_form_for [@service, @contract] do |f| %>
      <%#<%= f.label :done, "Has the contract been completed?" %>
      <%#<%= f.button :submit, "Done", class: "btn-yellow" %>
    <%#<% end %>

  <% else %>
    <p>Contrato não encontrado.</p>
  <% end %>


  <%# <% elsif current_user == contract.service_id.user_id %>

    <%# <% if @contract.status == "Pending" %>

      <%# <p><strong>Status:</strong><%= button_to 'Accept', update_status_path(id: @contract.id, status: 'accept'), method: :patch, data: { "turbo-method": :patch } %><%#<%= link_to 'Reject', update_status_path(id: @contract.id, status: 'reject'), method: :patch, data: { "turbo-method": :patch } %><%#</p>

      <%# <p><strong>Concluído:</strong> <%= @contract.done ? 'Sim' : 'Não' %><%#</p>

  <%# <%= link_to 'Voltar para Contratos', contracts_path %>
</div>



<%# <%= link_to 'Accept', accept_contract_path(@contract), method: :post, data: { confirm: 'Are you sure you want to accept this contract?' } %>
<%# <%= link_to 'Rejeitar Contrato', reject_contract_path(@contract), method: :post, data: { confirm: 'Are you sure you want to reject this contract?' } %>
