<div class="container">
  <div data-controller="show-dashboard">
    <div class="row mx-auto">

      <div class="col-sm dashboard-card">
        <button class="dashboard-button" id="profile-btn" data-action="click->show-dashboard#profile">
          <div class="card-info">
            <h5>Profile</h5>
            <p class="description">Edit your name, photo, state, city and phone number</p>
          </div>
        </button>
      </div>

      <div class="col-sm dashboard-card">
        <button class="dashboard-button" id="service-btn" data-action="click->show-dashboard#services">
          <div class="card-info">
            <h5>My Services</h5>
            <p class="description">Edit and see your services</p>
          </div>
        </button>
      </div>

      <div class="col-sm dashboard-card">
        <button class="dashboard-button" id="contract-btn" data-action="click->show-dashboard#contracts">
          <div class="card-info">
            <h5>My Contracts</h5>
            <p class="description">Manage the status of your contracts</p>
          </div>
        </button>
      </div>

      <div class="col-sm dashboard-card">
        <button class="dashboard-button" id="review-btn" data-action="click->show-dashboard#reviews">
          <div class="card-info">
            <h5>My Reviews</h5>
            <p class="description">Check the reviews you have received</p>
          </div>
        </button>
      </div>
    </div>

    <div class="col">
      <div class="row mx-auto">

        <div class="col-sm">

          <div data-show-dashboard-target="profileElement" class="mt-5 d-none">
            <%= simple_form_for @user do |f| %>
              <%= f.input :first_name, required: true %>
              <%= f.input :last_name, required: true %>
              <%= f.input :photo, as: :file %>
              <%= f.input :city, required: true %>
              <%= f.input :state, required: true %>
              <%= f.input :phone, required: true %>

              <%= f.button :submit, "Update", class:"btn-yellow" %>
            <% end %>
          </div>

          <div data-show-dashboard-target="serviceElement" class="my-5 d-none">
           <%= link_to "Add a Service", new_service_path(current_user), class: "btn-yellow mb-1"%>
            <% if @services %>
              <%= render 'services/my_services' %>
            <% else %>
              <h3>You have 0 services.</h3>
            <% end %>
          </div>

          <div data-show-dashboard-target="contractElement" class="my-5 d-none">
            <%= render 'contracts/my_contracts' %> <%# alterado de show para my_contracts %>
          </div>

          <%# index de reviews %>
          <div data-show-dashboard-target="contractElement" class="my-5 d-none">
            <%= render 'reviews/my_reviews' %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
